# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.env
*.sqlite3
.DS_Store

# Virtual environment
venv/
env/

# pytest cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
build/
dist/
*.lock
*.cache
*.next/
out/
*.log

# React-specific
public/static/
*.css.map
*.js.map
coverage/

# VSCode
.vscode/

# IDE specific
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# General
Thumbs.db
*.bak
*.tmp
*.temp
*.~*
